@import './../../settings/style-settings.scss';

nav {
  position: fixed;
  width: 100%;
  height: 20vh;
  background-color: $nav-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-sizing: border-box;
  color: white;
  h1 {
    font-size: 36px;
  }

  .user-menu-item {
    width: 20%;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #154066;
    }
  }
}
