$main-color: #283334;
$nav-color: #100e1e;

$table-background-color: #0a1f40;
$table-color: rgb(131, 131, 66);
$table-hover-color: #154066;
$table-border-color: rgb(39, 113, 179);
$red: #ae3232;
$blue: #184fbd;
$primary: rgb(223, 210, 193);
