@import './../../settings/style-settings.scss';
.table-container {
  width: 70%;
  height: 70%;
  background-color: $table-background-color;
  height: fit-content;
  width: fit-content;
  padding: 30px;
  box-sizing: border-box;
  scale: 0;
  animation: appear-table;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes appear-table {
  to {
    scale: 1;
  }
}
